USE [master]
GO
/****** Object:  Database [GMC Consignment Information]    Script Date: 11/19/2017 9:07:42 PM ******/
CREATE DATABASE [GMC Consignment Information]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'GMC Consignment Information', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQLEXPRESS\MSSQL\DATA\GMC Consignment Information.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'GMC Consignment Information_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQLEXPRESS\MSSQL\DATA\GMC Consignment Information_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [GMC Consignment Information].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [GMC Consignment Information]
GO
USE [GMC Consignment Information]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 11/19/2017 9:07:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[UserID] [int] IDENTITY(1,1) NOT NULL,
	[Username] [varchar](30) NOT NULL,
	[Password] [varchar](16) NOT NULL,
	[SKUMin] [int] NOT NULL,
	[SKUMax] [int] NOT NULL,
 CONSTRAINT [PK_Users] PRIMARY KEY CLUSTERED 
(
	[UserID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  StoredProcedure [dbo].[usp_addUser]    Script Date: 11/19/2017 9:07:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[usp_addUser] @Username varchar(30), @Password varchar(16), @SKUMin int, @SKUMax int
as
insert into Users values(@Username, @Password, @SKUMin, @SKUMax)
declare @UserID int
set @UserID = (select top 1 UserID from Users where @Username = Username)
select * from Users where @UserID = UserID
GO
/****** Object:  StoredProcedure [dbo].[usp_changePassword]    Script Date: 11/19/2017 9:07:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[usp_changePassword] @UserID int, @newPassword varchar(16)
as
update Users set Password = @newPassword where @UserID = UserID
select * from Users where @UserID = UserID
GO
/****** Object:  StoredProcedure [dbo].[usp_changeSKURange]    Script Date: 11/19/2017 9:07:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[usp_changeSKURange] @Min int, @Max int, @ID int
as
update Users set SKUMin = @Min, SKUMax = @Max where UserID = @ID
select * from Users where UserID = @ID
GO
/****** Object:  StoredProcedure [dbo].[usp_changeUsername]    Script Date: 11/19/2017 9:07:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[usp_changeUsername] @UserID int, @newUsername varchar(30)
as
update Users set Username = @newUsername where @UserID = UserID
select * from Users where @UserID = UserID
GO
/****** Object:  StoredProcedure [dbo].[usp_IDtoUsername]    Script Date: 11/19/2017 9:07:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[usp_IDtoUsername] @UserID int
as
select Username from Users where @UserID = UserID
GO
/****** Object:  StoredProcedure [dbo].[usp_removeUser]    Script Date: 11/19/2017 9:07:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[usp_removeUser] @UserID int
as
delete from Users where @UserID = UserID
select * from Users
GO
/****** Object:  StoredProcedure [dbo].[usp_usernameToID]    Script Date: 11/19/2017 9:07:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[usp_usernameToID] @Username varchar(30)
as
select UserID from Users where @Username = Username
GO
USE [master]
GO
